<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "GroupT" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="header">
      <p><%= link_to "GroupT", root_path%></p>
    </header>

    <%= yield %>
    <footer>
      <h1 class="footer"><%=link_to "About Us", "https://www.google.com" %> | <%=link_to "Contact Us", "http://www.wikipedia.com" %></h1>
    </footer>
  </body>
</html>
